@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: var(--font-primary);
  font-size: 16px;
  // background: var(--color-primary-light)
  background-image: url(/images/16f9c66924c4f94888c1dc2e9404ce11.jpeg);
  background-position: cover;
}

body {
  height: inherit;
  color: var(--neutral-layer-app-text);
  background: var(--neutral-layer-app-background);
}

button, input, optgroup, select, textarea {
  margin: 0;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, figure, pre {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: var(--space-sm);

  font-weight: 10;
}

h1 {
  font-size: var(--text-xxl);
}

h2 {
  font-size: var(--text-xl);
}

h3 {
  font-size: var(--text-lg);
}

h4 {
  text-transform: uppercase;

  color: var(--neutral-layer-2-text);

  font-size: var(--text-md);
}

h5 {
  font-size: var(--text-sm);
}

h6 {
  font-size: var(--text-xs);
}

p {
  margin-bottom: var(--space-sm);

  font-size: 1rem;
}

small {
  font-size: var(--text-sm);
}

.logo {
  height:15vh ;
}

.container {
  max-width: $breakpoint-lg;
  margin: 0 auto;
  padding: 0 var(--space-lg);
}

.container--sm {
  max-width: $breakpoint-sm;
  margin: 0 auto;
  padding: 0 var(--space-lg);
}

.container--xs {
  max-width: $breakpoint-xs;
  margin:0 auto;
  padding: 0 var(--space-lg);
}

.page-content {
  min-width: 70vw;
  min-height: 70vh;
  margin-bottom: 50px;
  padding: 0 var(--space-md);
}